/* stylelint-disable property-no-vendor-prefix */
.title {
  color: $primary-color;
  font-weight: 700;
  font-family: DihjautiYBP, Georgia, serif;
  line-height: 1.2;
  text-transform: uppercase;

  &>span {
    text-shadow: none;

    background: linear-gradient(52.34deg, #d59647 6.79%, #dba868 26.67%, #f0e088 44.46%, #daa35f 54.93%, #d59647 63.3%, #efe188 87.37%, #d59647 102.02%, #bd843e 104.12%, #805426 109.35%, #68421d 111.44%), #ff5c00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h1.title {
  font-size: 100px;

  filter: drop-shadow(2px 2px 0 $black);

  @media (max-width: 1600px) {
    font-size: 78px;
    line-height: 1.1;
  }

  @media (max-width: 1336px) {
    font-size: 68px;
  }

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 768px) {
    font-size: 50px;

    filter: drop-shadow(1px 1px 0 $black);
  }

  @media (max-width: 414px) {
    font-size: 34px;
  }
}

h2.title {
  font-size: 34px;
}

h3.title {
  font-size: 26px;
}

h4.title {
  font-size: 24px;
}
