<div class="header-container">
  <header class="container header">
    <div class="header__logo">
      <img
        src="./images/logo-header-ybp.png"
        alt="Your Billionaires Properties"
      />
    </div>

    <address class="header__contacts contacts">
      <a
        href="mailto:billionairesproperties@yandex.ru"
        class="contacts__item contacts__item--email"
      >
        <span>billionairesproperties@yandex.ru</span>
      </a>

      <div class="contacts__item contacts__item--address">
        Aspin Commercial Tower - Sheikh Zayed Road Dubai - United Arab Emirates
      </div>

      <div class="contacts__social social">
        @@include('src\components\SocialMedia\SocialMedia.html')
      </div>

      <a href="tel:+971508547841" class="contacts__item contacts__item--phone">
        <span>+971508547841</span>
      </a>
    </address>

    <div class="header__callback">
      <button class="btn btn__header"><span>Заказать звонок</span></button>
    </div>
  </header>
</div>
