<div class="mobile-nav__overlay">
  <button class="mobile-nav__toggler btn-toggler">
    <span class="btn-toggler__icon"></span>
  </button>
  <nav class="mobile-nav__list-wrapper">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a
          href="tel:+971508547841"
          class="contacts__item contacts__item--phone"
        >
          <span>+971508547841</span>
        </a>
      </li>
      <!--  -->
      <li class="mobile-nav__item">
        <a
          href="mailto:billionairesproperties@yandex.ru"
          class="contacts__item contacts__item--email"
        >
          <span>billionairesproperties@yandex.ru</span>
        </a>
      </li>
      <!--  -->
      <li class="mobile-nav__item">
        <div class="contacts__item contacts__item--address">
          Aspin Commercial Tower - Sheikh Zayed Road Dubai - United Arab
          Emirates
        </div>
      </li>
      <!--  -->
      <li class="mobile-nav__item">
        <div class="contacts__social social">
          @@include('src\components\SocialMedia\SocialMedia.html')
        </div>
      </li>
    </ul>
  </nav>
</div>
