.social {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 15px;


    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    display: block;
    width: 33px;
    height: 33px;
    // border-radius: 50%;

    background-image: url("../images/sprite-icon__social-media_l.png");
    background-repeat: no-repeat;
    background-size: auto auto;

    transition: filter 0.3s ease;

    &.instagram {
      background-position: 0 0;
    }

    &.whatsapp {
      background-position: 0 25%;
    }

    &.telegram {
      background-position: 0 50%;
    }

    &.facebook {
      background-position: 0 75%;
    }

    &.youtube {
      background-position: 0 100%;
    }
  }

  // @media (max-width: 1536px)

  @media (max-width: 1536px) {
    &__item {
      margin-right: 10px;
    }
  }

  // for desktop hover effect
  @media (hover: hover) and (pointer: fine) {
    &__icon:hover {
      background-position-x: 100%;
      filter: $hover-shadow;
    }
  }
}
