.intro {
  position: relative;
  top: -100px;

  padding-top: 100px;
  overflow: hidden;

  // overflow-x: hidden;

  &__container {
    position: relative;

    height: 1120px;

    &::before {
      position: absolute;

      top: -100px;
      left: -300px;

      display: block;
      width: 536px;
      height: 539px;

      // background-image: url("../images/img-intro__palm-blur.png");
      @include bg-webp("../images/img-intro__palm-blur");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;

      content: "";
    }
  }

  &__scene-background-city {
    position: absolute;
    top: -90px;
    left: 28px;
    z-index: -1;

    width: 2074px;
    height: 1046px;

    // background-image: url("../images/img-intro__background.jpg");
    @include bg-webp("../images/img-intro__background", ".jpg");

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &__content {

    position: relative;
    z-index: 10;

    max-width: 66%;
    padding-top: 73px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    display: block;
    max-width: 500px;
    margin-bottom: 110px;

    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }

  &__feedback {
    position: relative;
    z-index: 10;

    max-width: 370px;
    margin-bottom: 54px;

    &>.btn::after {
      z-index: 10;

      position: absolute;
      top: -112px;
      right: -60px;

      display: block;
      width: 162px;
      height: 163px;

      // background-image: url("../images/img-intro__btn-palm.png");
      @include bg-webp("../images/img-intro__btn-palm");

      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;

      content: "";

      pointer-events: none;
    }
  }

  &__manifesto-wrapper {
    position: relative;

    width: 580px;
    height: 232px;

    padding-top: 54px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      display: block;
      width: 200%;

      background: linear-gradient(88.99deg, rgb(213 150 71 / 0%) 12.86%, rgb(216 159 88 / 61.2%) 37.74%, #dba868 51.23%, #f0e088 67.41%, #daa35f 75.36%, #d59647 85.55%, rgb(154 104 48 / 67%) 93.49%, rgb(150 102 48 / 0%) 101.14%, rgb(213 150 71 / 0%) 117.61%, rgb(255 255 255 / 0%) 120.17%);

      content: "";
    }
  }

  &__manifesto-text {
    position: relative;

    z-index: 30;

    display: block;
    max-width: 470px;
    padding-top: 20px;
    padding-bottom: 44px;
    padding-left: 72px;

    color: $secondary-color;
    font-weight: 500;
    line-height: 20px;

    &::before,
    &::after {
      position: absolute;

      display: block;
      width: 44px;
      height: 38px;

      // background-image: url("../images/icon-intro__mark.png");
      @include bg-webp("../images/icon-intro__mark");

      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      content: "";
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      right: 0;
      bottom: 0;

      transform: rotate(-180deg);
    }
  }

  &__scene-front-people {
    position: absolute;
    top: 255px;
    left: 30%;
    z-index: 20;

    width: 1221px;
    height: 891px;

    // background-image: url("../images/img-intro__front-people.webp");
    @include bg-webp("../images/img-intro__front-people");

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    pointer-events: none;
  }

  &__scene-front-gold {
    position: absolute;
    top: 560px;
    right: -30%;
    z-index: 21;

    width: 2013px;
    height: 598px;

    // background-image: url("../images/img-intro__front-gold.webp");
    @include bg-webp("../images/img-intro__front-gold");

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    mix-blend-mode: color-dodge;

    pointer-events: none;
  }
}
