<section class="services container">
  <div class="services__wrapper">
    <ul class="services__cards-list">
      <!-- prettier-ignore -->
      <li class="services__card-item">
        @@include('src\layout\SectionServices\ServiceCard.html', { "number": "01", "title": "КОНСУЛЬТИРУЕМ","list": ['Выбор стратегии инвестирования', 'Покупка, Продажа, Аренда недвижимости', 'Получение резидентства, ВНЖ', 'Частные или профессиональные инвесторы'], "iconName": "consultation" })
      </li>
      <li class="services__card-item">
        <!-- prettier-ignore -->
        @@include('src\layout\SectionServices\ServiceCard.html', { "number": "02", "title": "ВЫБИРАЕМ И ОСМАТРИВАЕМ", "list": ['Поиск и подбор по предложенным параметрам', 'Переговоры, предварительные и совместные для закрытия сделки', 'Экспертное сопровождение, консультации на всех этапах'], "iconName": "choice" })
      </li>
      <li class="services__card-item">
        <!-- prettier-ignore -->
        @@include('src\layout\SectionServices\ServiceCard.html', { "number": "03",
        "title": "ОКАЗЫВАЕМ ЭКСПЕРТНОЕ А ТАКЖЕ ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ", "list":
        ['Финансовые вопросы (открытие счета, перевод средств, обмен валют и т.д.)', 'Оформление ипотеки', 'Подготовка договоров', 'Сопровождение сделки', 'Страхование недвижимости', 'Трансфер'], "iconName": "escort" })
      </li>
      <li class="services__card-item">
        <!-- prettier-ignore -->
        @@include('src\layout\SectionServices\ServiceCard.html', { "number": "04",
        "title": "ПОМОГАЕМ ПОСЛЕ ПРОДАЖИ", "list": ['Активация коммунальных услуг', 'Резидентская визовая поддержка', 'Квалифицированная помощь в функционировании бизнеса'], "iconName": "after-sale"
        })
      </li>
      <li class="services__card-item">
        <!-- prettier-ignore -->
        @@include('src\layout\SectionServices\ServiceCard.html', { "number": "05",
        "title": "ПОМОГАЕМ УПРАВЛЯТЬ", "list": ['Внутреннее управление', 'Гостиничный сервис', 'Краткосрочная или долгосрочная аренда'], "iconName": "manage" })
      </li>
      <li class="services__card-item">
        @@include('src\layout\SectionServices\ServiceCardFeedback.html')
      </li>
    </ul>
  </div>
</section>
