.achievements {
  padding: 0 48px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {}

  &__icon {
    display: block;
    flex-shrink: 0;
    height: 90px;

    margin-bottom: 10px;

    transition: transform 0.5s ease;

    background-repeat: no-repeat;

    background-position: center center;
    background-size: contain;

    &.sum {
      width: 456px;

      @include bg-webp("../images/icon-achievements__sum_l");
    }

    &.agents {
      width: 200px;

      @include bg-webp("../images/icon-achievements__agents_l");
    }

    &.projects {
      width: 246px;

      @include bg-webp("../images/icon-achievements__projects_l");
    }

    &.partners {
      width: 200px;

      @include bg-webp("../images/icon-achievements__partners_l");
    }
  }

  &__text {

    color: rgb(255 255 255 / 70%);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;
  }
}
