// --- resets
@import "./resets/reset";
@import "./resets/reset-action";

// --- common
@import "./common/variables";
@import "./common/fonts";

// --- UI
@import "./UI/container";
@import "./UI/btn";
@import "./UI/title";

// --- body
body {
  position: relative;

  min-width: 320px;
  overflow-x: hidden;

  color: $primary-color;

  font-size: 16px;

  font-family:
    Montserrat,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fsira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.3;

  background-color: $background;

  background-image: url("../images/img-background__whater.jpg");
  background-repeat: no-repeat;
  background-position: 0 580px;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stripes-decor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;

  z-index: 30;

  display: flex;
  justify-content: space-between;

  transform: translateX(-50%);

  pointer-events: none;

  &>i {
    display: block;
    width: 1px;
    height: 100%;

    background-color: $white;
    opacity: 0.1;

    pointer-events: none;
  }

  @media (max-width: 1024px) {
    &>i:last-child {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &>i:nth-child(2) {
      display: none;
    }
  }
}

.btn-callback {
  position: fixed;
  right: 60px;

  bottom: 60px;
  z-index: 1000;

  display: none;

  &__icon {
    display: block;
    width: 60px;
    height: 60px;

    background-image: url("../images/icon__btn-callbak.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    border-radius: 50px;

    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
  }

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 534px) {
    right: 30px;
    bottom: 30px;
  }

  @media (max-width: 534px) {
    right: 20px;
    bottom: 10px;

    &__icon {
      width: 50px;
      height: 50px;
    }
  }
}
