<div class="modal-callback">
  <header class="modal-callback__header">
    <h3 class="modal-callback__title title">Оставьте заявку</h3>
  </header>
  <form class="modal-callback__form form-callback">
    <fieldset class="form-callback__fields">
      <div class="form-callback__field">
        <input
          class="form-callback__input"
          type="text"
          name="ccname"
          placeholder="Ваше имя"
          aria-label="укажите ваше имя"
        />
      </div>

      <div class="form-callback__field">
        <input
          class="form-callback__input"
          type="tel"
          name="cctelephone"
          placeholder="Телефон"
          aria-label="введите телефон"
        />
      </div>

      <div class="form-callback__field">
        <input
          class="form-callback__input"
          type="email"
          name="ccemail"
          placeholder="Email"
          aria-label="введите адрес электронной почты"
        />
      </div>
    </fieldset>

    <button class="form-callback__submit btn">
      <span>ОТПРАВИТЬ</span>
    </button>
  </form>
</div>
