<section class="partners partners__container">
  <div class="partners__first-list">
    <!-- first list -->
    <ul class="partners__list">
      <li class="partners__item">
        <img src="./images/img-artners__firt-1.svg" alt="Logo AZIZI" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__firt-2.svg" alt="Logo EMAAR" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__firt-3.svg" alt="Logo DAMAC" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__firt-4.svg" alt="Logo NAKHEL" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__firt-5.svg" alt="Logo SOBHA" />
      </li>
    </ul>
  </div>

  <div class="partners__second-list">
    <!-- second list -->
    <ul class="partners__list">
      <li class="partners__item">
        <img src="./images/img-artners__second-1.svg" alt="Logo AZIZI" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__second-2.svg" alt="Logo EMAAR" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__second-3.svg" alt="Logo DAMAC" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__second-4.svg" alt="Logo NAKHEL" />
      </li>

      <li class="partners__item">
        <img src="./images/img-artners__second-5.svg" alt="Logo SOBHA" />
      </li>
    </ul>
  </div>
</section>
