<div class="achievements">
  <ul class="achievements__list">
    <li class="achievements__item">
      <div class="achievements__card-wrapper">
        <i class="achievements__icon sum"></i>
        <span class="achievements__text">сумма сделок</span>
      </div>
    </li>

    <li class="achievements__item">
      <div class="achievements__card-wrapper">
        <i class="achievements__icon agents"></i>
        <span class="achievements__text">агентов в компании</span>
      </div>
    </li>

    <li class="achievements__item">
      <div class="achievements__card-wrapper">
        <i class="achievements__icon projects"></i>
        <span class="achievements__text">успешных проектов</span>
      </div>
    </li>

    <li class="achievements__item">
      <div class="achievements__card-wrapper">
        <i class="achievements__icon partners"></i>
        <span class="achievements__text">партнеров застройщиков</span>
      </div>
    </li>
  </ul>
</div>
