<div class="achievements">
  <ul class="achievements__list">
    <li class="achievements__item">
      <i class="achievements__icon sum"></i>
      <span class="achievements__text">сумма сделок</span>
    </li>

    <li class="achievements__item">
      <i class="achievements__icon agents"></i>
      <span class="achievements__text">агентов в компании</span>
    </li>

    <li class="achievements__item">
      <i class="achievements__icon projects"></i>
      <span class="achievements__text">успешных проектов</span>
    </li>

    <li class="achievements__item">
      <i class="achievements__icon partners"></i>
      <span class="achievements__text">партнеров застройщиков</span>
    </li>
  </ul>
</div>
