<div class="advantages" data-aos="zoom-in-up">
  <ul class="advantages__list">
    <li class="advantages__item">
      <i class="advantages__icon experience"></i>
      <span class="advantages__text experience"
        >25 лет опыта в сфере недвижимости</span
      >
    </li>

    <li class="advantages__item">
      <i class="advantages__icon investments"></i>
      <span class="advantages__text investments">
        Поможем зарабатывать профессиональным и частным инвесторам 8-20% годовых
      </span>
    </li>

    <li class="advantages__item">
      <i class="advantages__icon installment"></i>
      <span class="advantages__text installment">
        Предложим рассрочку под 0%, составим удобную схему платежей
      </span>
    </li>

    <li class="advantages__item">
      <i class="advantages__icon deals"></i>
      <span class="advantages__text deals">Закрываем сделки за 1-2 дня</span>
    </li>
  </ul>
</div>
