<section class="intro">
  <div class="intro__container container">
    <div class="intro__scene-background-city">
      <i></i>
    </div>

    <div class="intro__content">
      <h1 class="intro__title title" data-aos="fade-right" data-aos-delay="50">
        <span>VIP</span> агентство недвижимости
      </h1>
      <p class="intro__subtitle" data-aos="fade-right" data-aos-delay="70">
        с реализацией проектов бизнес, премиум и де-люкс-класса в 100+ ЖК
        Эмирата
      </p>
      <div class="intro__feedback" data-aos="fade-right" data-aos-delay="90">
        <button class="btn btn__main" data-modal-open="id-modal-callback">
          <span>получить консультацию</span>
        </button>
      </div>
      <div
        class="intro__manifesto-wrapper"
        data-aos="fade-right"
        data-aos-delay="110"
      >
        <p class="intro__manifesto-text">
          Мы - перспективное агентство недвижимости полного цикла, с которым вы
          полюбите Дубай и узнаете, что такое высокодоходные инвестиции”
        </p>
      </div>
    </div>

    <div class="intro__scene-front-people" data-aos="fade-up">
      <i></i>
    </div>

    <div class="intro__scene-front-gold">
      <i></i>
    </div>
  </div>
</section>
