<section class="intro">
  <div class="intro__container container">
    <div class="intro__scene-background-city"></div>

    <div class="intro__content">
      <h1 class="intro__title title">
        <span>VIP</span> агентство недвижимости
      </h1>
      <p class="intro__subtitle">
        с реализацией проектов бизнес, премиум и де-люкс-класса в 100+ ЖК
        Эмирата
      </p>
      <div class="intro__feedback">
        <button class="btn btn__main">получить консультацию</button>
      </div>
      <div class="intro__manifesto-wrapper">
        <p class="intro__manifesto-text">
          Мы - перспективное агентство недвижимости полного цикла, с которым вы
          полюбите Дубай и узнаете, что такое высокодоходные инвестиции”
        </p>
      </div>
    </div>

    <div class="intro__scene-front-people"></div>

    <div class="intro__scene-front-gold"></div>
  </div>
</section>
